* {
  margin: 0;
  padding: 0;
}

@keyframes animacao-altura {
  to {
    transform: translateY(0);

  }
}

@keyframes animacao {
  to {
    transform: translateX(0);
  }

}

@keyframes animacao-opacidade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

.secao-banner {
  animation-name: animacao-opacidade;
  animation-duration: 3s;
}

.secao-selos {
  animation-name: animacao;
  animation-duration: 4s;
  transform: translateX(-100px);
  animation-fill-mode: forwards;
}

footer {
  background-color: #ffcbdb;
}

.adocao {
  transform: translateY(-100px);
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-name: animacao-altura;

}

.servico {
  animation-name: animacao;
  animation-duration: 4s;
  transform: translateX(-100px);
  animation-fill-mode: forwards;

}